<div style="text-align: center; padding: 20px 0;">
	<a href="{{ site.baseurl }}/">
		<img src="{{ '/logo.png' | relative_url }}" alt="Logo Receptari" style="max-height: 100px; width: auto; display: inline-block;">
	</a>
</div>

<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
	{% endfor %}
</nav>
