.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // Añade esto para que las recetas se centren si sobran huecos

    .recipe {
        // Cambia el 240px por el ancho que quieras para cada miniatura
        flex: 0 1 280px; 
        height: 200px;   // Aumenta o disminuye la altura de la tarjeta aquí
        display: inline-block;
        background-position: center;
        background-size: cover; 
        margin: 10px;    // Un poco más de margen suele quedar mejor
    }
}

		a {
			width: 100%;
			height: 100%;
			display: block;
			background: rgba(0, 0, 0, .2);
			color: #fff;
			text-decoration: none;
			text-align: center;
			vertical-align: text-bottom;
			position: relative;
			transition:      all 0.2s ease;
			font-size: 1.1em;
			font-weight: 700;

			span {
				position: absolute;
				bottom: 5px;
				width: 100%;
				left: 0;
				text-shadow: 1px 1px 1px #000;
			}

			&:hover {
				background: none;
			}
		}
	}
}
